{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <title>Account</title>
    <link rel="stylesheet" type="text/css" href="{%static 'stocks/style.css' %}">
</head>
<body>


    <div class="form-register ">
        <center><h4>Account</h4></center>

        <center><img src="{%static 'stocks/images/maxresdefault.jpg' %}" width="200" height="200" alt="account_img"></center>

        <input id="boton_test" class="boton_test" type="submit" value="Test" >
        <input id="boton_logout" class="boton_logout" type="submit" value="Logout" >
        <input id="boton_logout_all" class="boton_logout_all" type="submit" value="Logout all" >
    </div>


</body>

<script src="{% static '/js/cookie_manager.js' %}" type="text/javascript"></script>

<script>
    document.getElementById("boton_test").onclick = e => {
    e.preventDefault();
    fetch('{% url 'api-user' %}',{
        method: 'GET',
        headers: {
            "Content-Type": "application/json",
            "Authorization": "Token "+getCookie("token")
        }
        }).then(r => r.json()).then(json => {
            console.log(json)
        })
    }

    document.getElementById("boton_logout").onclick = e => {
    e.preventDefault();
    fetch('{% url 'api-logout' %}',{
        method: 'POST',
        body: JSON.stringify({}),
        headers: {
        "Content-Type": "application/json",
        "Authorization": "Token " + getCookie("token")
        }
    }).then(r => r.json()).then(json => {
        console.log(json)
        location.href = "{% url 'user-index' %}"
    })
    }

    document.getElementById("boton_logout_all").onclick = e => {
    e.preventDefault();
    fetch('{% url 'api-logoutall' %}',{
        method: 'POST',
        body: JSON.stringify({}),
        headers: {
        "Content-Type": "application/json",
        "Authorization": "Token " + getCookie("token")
        }
    }).then(r => r.json()).then(json => {
        console.log(json)
        location.href = "{% url 'user-index' %}"
    })
    }
</script>

</html>