{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <title>Welcome to Stonks</title>
    <link rel="stylesheet" type="text/css" href="{%static 'stocks/style.css' %}">
</head>
<body>
        

    <div class="form-register ">
        <center><h4>Welcome to Stonks</h4></center>
        <center><img src="{%static 'stocks/images/stonks.jpg' %}" width="300" height="200" alt="stonks.jpg"></center>
        <input class="boton_login" onclick="location.href = '{% url 'login' %}';" type="submit" value="Login" >
        <input class="boton_register" onclick="location.href = '{% url 'register' %}';" type="submit" value="Register" >
    </div>


</body>
</html>