{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="{%static 'stocks/style.css' %}">
</head>
<body>
		

	<form class="form-register ">
		<center><h4>Login</h4></center>
		<label for="username">Username:<//label>
		<input class="controls" type="text" name="username" id="username" placeholder="Ingrese su username">
		<label for="password">Password:<//label>
		<input class="controls" type="text" name="password" id="password" placeholder="Ingrese su password">
		

		<input class="boton2" type="submit" value="Ingresar" >

	</form>


</body>
</html>
