{% load static %}
<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<head>

	<title>Stocks Portfolio</title>
	<link rel="stylesheet" type="text/css" href="{% static 'stocks/style.css' %}">
</head>
<body>
	<nav>
<div class="logo"><img src="{% static 'stocks/images/st.png' %}" width="180" height="80"></div>
    <div class="barnav">
    <div><h3>Perfil</h3></div>
    <div><h3>Portafolio</h3></div>
    <div><h3>Comprar</h3></div>
</div>
</nav>
	<div class="port">
		<center><h1>Portafolio</h1></center>
	
	<table width="100%" id="table"></table>
	</div>
	
    <script src="{% static '/js/cookie_manager.js' %}" type="text/javascript"></script>
    <script>
        fetch('{% url 'api-portafolio'%}', {
            method: 'GET',
            headers: {
                "Authorization": "Token " + getCookie("token")
            }
        }).then(r => r.json().then(data => ({status: r.status, response:data}))).then(json_response => {
            data_json = json_response["response"]
            $("#table").append('<tr><td><center><h3>Empresa</h3></center></td><'+'<td><center><h3>Cantidad</h3></center></td>' + '<td><center><h3>Precio</h3></center></td>'+ '<td> </td>');
            for (i = 0; i < data_json.length; i++){
                $("#table").append('<tr>' + '<td align="center" style="dislay: none;">' + data_json[i]["company_ruc"] + '</td>'+ '<td align="center" style="dislay: none;">' + data_json[i]["quantity"] + '</td>' + '</td>'+ '<td align="center" style="dislay: none;"><button class="btd">' + "vender" + '</button></td>' + '</tr>');
            }
        })
    </script>

</body>
</html>
