{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

	<title>Formulario de registro</title>
	<link rel="stylesheet" type="text/css" href="{%static 'stocks/style.css' %}">
</head>
<body>

	<form class="form-register " id="form">
		<center><h4>Fomulario de registro</h4></center>
		<p id="error-handling" style="display: none;">Usuario invalido</p>
		<label for="username">Username:
		<input class="controls" type="text" name="username" id="username" placeholder="Ingrese su username">
		<label for="password">Password:
		<input class="controls" type="password" name="password" id="password" placeholder="Ingrese su password">
		<label for="password">Email:
		<input class="controls" type="text" name="email" id="email" placeholder="Ingrese su email">

		<input class="boton" type="submit" value="Registrar" >

	</form>
    <div class="div-register" >
        <input id="redirect-login" class="boton2" type="submit" value="Login" >
    </div>
</body>

<script src="{% static '/js/cookie_manager.js' %}" type="text/javascript"></script>

<script>
    document.getElementById("redirect-login").onclick = e => {
        e.preventDefault();
        location.href = '{% url 'login' %}';
    }
    document.getElementById("form").onsubmit = e => {
	e.preventDefault();
	fetch('{% url 'api-register' %}',{
	    method: 'POST',
	    body: JSON.stringify({
		'username': document.getElementById("username").value,
		'password': document.getElementById("password").value,
		'email': document.getElementById("email").value
	    }),
	    headers: {
		"Content-Type": "application/json"
	    }
	}).then(r =>  r.json().then(data => ({status: r.status, response: data}))).then(json_response => {

	    console.log(json_response)
	    if (json_response['status'] != 200) { // 400 | 404
                document.getElementById("error-handling").style.display = "block";
		
            } else {
		console.log(json_response['response']['token'])

                document.getElementById("error-handling").style.display = "none";
		setCookie("token",json_response['response']['token'],1)
		location.href = "{% url 'user' %}"
            }

	})
    }
</script>

</html>
